.t-dark-main {
    background-color: var(--bg-main); /* Preto profundo para o fundo principal */
}

.t-dark-secondary {
    background-color: var(--bg-secondary); /* Cinza/Preto ligeiramente contrastante */
}

/* Efeito temático de fundo gradiente na seção inicial */
.t-hero-gradient {
    background: radial-gradient(circle at 80% 20%, var(--clr-gradient-start) 0%, var(--bg-main) 50%);
    padding-top: 140px;
}